@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Muli', sans-serif;

    height: 100vh;
}

section {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    margin: 0;
}

#home {
    background-color: #F4F9F9;
    z-index:
}

#wizyta {
    background-color: #CCF2F4;
}

#omnie {
    background-color: #A4EBF3;
}

#doswiadczenie {
    background-color: #AAAAAA;
}